<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/advisory-summary.css' %}">
{% endblock stylesheets %}

<div id="context-menu">
    <div class="item" onclick="togglePopup(event)">
        <i class="fa fa-clipboard"></i> Notiz erstellen
    </div>
    <div class="item" onclick="highlightText()">
        <i class="fa fa-pencil-alt"></i> Text markieren
    </div>
</div>

<div class="popup" id="popup-1">
    <div class="content card">
        <div title='Abbrechen' class="close-btn" onclick="togglePopup(event)">&times;</div>
        <h3 id="popup-1-header">Neue Notiz</h3>
        <div class="form-group">
            <form action="{% url 'create-note' %}?next={{ request.path }}" method="POST" role="form">
                {% csrf_token %}
                <span>Titel: {{ form.title }}</span><br><br>
                <span>Notiz zum Abschnitt:</span>
                <span id="selected-text-preview"></span>
                <input style="visibility:hidden" type="text" id="selected-text" name="selected-text" value=""/>
                <span style="display:none">{{ form.advisory_session }} </span> <br>
                <span>{{ form.text }} {{ form.media }}</span>
                <button title="Speichern" type="submit" name="safe" class="save-btn"><i class="fas fa-check"></i>
                </button>
            </form>
        </div>
    </div>
</div>