<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->

  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
        </li>
      </ul>
      <div class="copyright">
        &copy; Universität Zürich
      </div>
    </div>
  </footer>
