

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="{% if 'index' in segment %} active {% endif %} ">
            <a href="/">
              <i class="tim-icons icon-chat-33"></i>
              <p>Beratungen</p>
            </a>
          </li>
          <li class="{% if 'protocols' in segment %} active {% endif %}">
            <a href="/protocols">
              <i class="tim-icons icon-paper"></i>
              <p>Protokolle</p>
            </a>
          </li>
          <li class="{% if 'development' in segment %} active {% endif %}">
            <a href="/investor-profile">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Anlegerprofil</p>
            </a>
          </li>
          <li class="{% if 'notes' in segment %} active {% endif %}">
            <a href="/notes">
              <i class="tim-icons icon-notes"></i>
              <p>Notizen</p>
            </a>
          </li>
          <li class="{% if 'documents' in segment %} active {% endif %}">
            <a href="/documents">
              <i class="tim-icons icon-single-copy-04"></i>
              <p>Dokumente</p>
            </a>
          </li>
          <li class="{% if 'search' in segment %} active {% endif %}">
            <a href="/search/">
              <i class="tim-icons icon-zoom-split"></i>
              <p>Suche</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="/ui-icons">
              <i class="tim-icons icon-atom"></i>
              <p>Icons</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
