

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="{% if 'index' in segment %} active {% endif %} ">
            <a href="/">
              <i class="tim-icons icon-bank"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="{% if 'documents' in segment %} active {% endif %}">
            <a href="/documents">
              <i class="tim-icons icon-paper"></i>
              <p>Dokumente</p>
            </a>
          </li>
          <li class="{% if 'notes' in segment %} active {% endif %}">
            <a href="/notes">
              <i class="tim-icons icon-notes"></i>
              <p>Notizen</p>
            </a>
          </li>
          <li class="{% if 'development' in segment %} active {% endif %}">
            <a href="/user-development">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Anlegerprofil</p>
            </a>
          </li>
          <li class="{% if 'search' in segment %} active {% endif %}">
            <a href="/search/">
              <i class="tim-icons icon-zoom-split"></i>
              <p>Suche</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="/ui-icons.html">
              <i class="tim-icons icon-atom"></i>
              <p>Icons</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
