/*!

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

*/


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.advisory-detail {
    margin-top: -15px; /* text starts at same hight as bullet point*/
}


.advisory-detail i{
    padding-right: 5px; font-size:1.5em
}

.bullet-points {
    padding-left: 20px;
    margin: 0 0 100px 0 !important;
}

.bullet-points li {
    margin: 0 0 10px 0;
}



/*timeline stroke*/
.timeline ul.design li.design {
  list-style-type: none;
  position: relative;
  width: 6px;
  padding-top: 50px;
  background: var(--primary);
}

/* bullets*/
.timeline ul.design li.design::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--third);
}

.timeline ul.design li.design div {
  position: relative;
  padding: 15px;
  left: 25px;
  color: var(--black-blue);
  width: 70vw;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 1200px) { /* width of text */
  .timeline ul.design li.design div {
    width: calc(100vw - 91px);
      }
}

@media screen and (max-width: 600px) {
  .timeline ul.design li.design {
    margin-left: 20px;
  }
  .timeline ul.design li.design div {
    width: calc(100vw - 91px);
  }

}


/* --------------------------- context menu ---------------------------*/

    #context-menu {
      position:fixed;
      z-index:10000;
      width:160px;
      background:var(--primary);
      border-radius:5px;
      transform:scale(0);
      transform-origin:top left;
    }
    #context-menu.active {
      transform:scale(1);
      transition:transform 300ms ease-in-out;
    }
    #context-menu .item {
      padding: 8px 10px;
      font-size:15px;
      color:#eee;
    }
    #context-menu .item:hover {
      background:var(--light);
      cursor: pointer;
      border-radius:5px;
    }
    #context-menu .item i {
      display:inline-block;
      margin-right:5px;
    }


/* ------------------ highlight feature -----------------------  */
.highlight {
  background-color: var(--yellow);
  padding: 5px 0 5px 0;
  border-radius: 10px;
}

.save-annotations-btn {
  cursor:pointer;
  position:absolute;
  right:15%;
  width:30px;
  height:30px;
  background:var(--primary);
  color: var(--white);
  font-size:20px;
  font-weight:400;
  text-align:center;
  border-radius:50%;
  border-style: solid;
  border-color: transparent;
}


/* --------------------------- notes drill down ---------------------------*/

.details {
  max-width: 500px; /* ToDO: not static width!*/
  padding: 0 30px;
  text-align: left;
  display: none;
  color: inherit;
  box-sizing:border-box;
  font-family: inherit;
  border-radius: 10px;
}

.clickable-notes {
    cursor:pointer;
    margin-left: -40px;
}

.clickable-doc {
    margin-left: -40px;
}

/*--------------------- pop up create note  --------------------- */
.popup {
  color: black !important;
  position: absolute;
}

.popup .content {
  position:absolute;
  transform: scale(0);
  z-index:2;
  padding:20px;
  box-sizing:border-box;
  font-family: inherit;
  border-style: solid;
  border-color: var(--primary);
  border-width: 4px;
  width:550px;
  height:480px;
}

#popup-1-header {
  cursor: move;
  font-weight: 600;
}

#selected-text-preview {
  display: block;
  max-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
 }

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color: var(--white);
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup .save-btn {
  cursor:pointer;
  position:absolute;
  right:50px;
  top:-63px;
  width:30px;
  height:30px;
  background:var(--primary);
  color: var(--white);
  font-size:20px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
  border-style: solid;
  border-color: transparent;
}

.popup.active {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform: scale(1);
}


/* ---------- Pie Chart -------------------------*/
#tobe-allocation-bar {
 width: 800px !important;
 height: 400px !important;
}

#current-allocation-pie {
 width: 466px !important;
 height: 233px !important;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width:1300px) and (min-width:601px) {

    #tobe-allocation-bar {
     width: 600px !important;
     height: 300px !important;
    }

}
@media screen and (max-width: 600px) {

    .popup {
      color: black !important;
      position: absolute;
      top:55%;
      left:50%;
    }
    .popup .content {
      position:absolute;
      z-index:2;
      box-sizing:border-box;
      font-family: inherit;
      border-style: solid;
      border-color: var(--primary);
      border-width: 4px;
      width:370px;
      height:530px;
    }

    #cke_id_text {
        width: 330px !important;
    }

    #tobe-allocation-bar {
     width: 600px !important;
     height: 300px !important;
    }

}