/*!

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

*/


.details {
  width: 100%;
  padding: 0 30px;
  text-align: left;
  margin-top: 20px;
  display: block;
  color: var(--black-blue);
}

.investment-explanations {
    margin-bottom: 10px;
}

.explanations > img {
    margin: 20px;
}

#strategy-comparison {
 width: 566px !important;
 height: 303px !important;
}


.clickable {
    cursor:pointer;
    padding: 10px;
}

.open-all {
  cursor:pointer;
  position:absolute;
  right:100px;
  width:30px;
  height:30px;
  background:var(--primary);
  color: var(--white);
  font-size:20px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}


.close-all {
  cursor:pointer;
  position:absolute;
  right:50px;
  width:30px;
  height:30px;
  background:var(--primary);
  color: var(--white);
  font-size:20px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.details img {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* monitor */
@media screen and (min-width:1301px) {
    #strategy-comparison {
        width: 766px !important;
        height: 403px !important;
    }

}

@media screen and (max-width: 600px) {

    #strategy-comparison {
       display: none !important;
    }

}

