/*!

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

*/

.new-note {
  cursor:pointer;
  position:absolute;
  right:50px;
  width:30px;
  height:30px;
  background:var(--primary);
  color: var(--white);
  font-size:20px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.td-reminder {
    min-width:70px;
}

.td-due-date{
    min-width:120px;
}

.td-created{
    min-width:100px;
}

.td-pencil {
    padding-left:10px;
    padding-right: 10px;
}



/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* smmartphone */
@media screen and (max-width: 600px) {

    /* size of richtext field*/
    #cke_id_text {
        width: 330px !important;
    }

}

/* laptop and monitor */
@media screen and (min-width: 601px) {

    /* size of richtext field*/
    #cke_id_text {
        width: 830px !important;
    }

}
