/*!

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

*/

.new-note {
  cursor:pointer;
  position:absolute;
  right:40px;
  width:30px;
  height:30px;
  background:var(--primary);
  color: var(--white);
  font-size:20px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.td-title {
    width: 300px;
}

.td-date{
    min-width:120px;
    max-width: 200px;
}

.td-download {
    width: 100px;
    padding-left:10px !important;
    font-size: 1.5em !important;
    cursor: pointer;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* smmartphone */
@media screen and (max-width: 600px) {

    /* size of richtext field*/
    #cke_id_text {
        width: 330px !important;
    }

}

/* laptop and monitor */
@media screen and (min-width: 601px) {

    /* size of richtext field*/
    #cke_id_text {
        width: 830px !important;
    }

}
