*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  padding: 8px 0;
}

.timeline-advisory {
    color: white;
}

.timeline-event {
    color: var(--black-blue);
}

.next-advisory {
    background: var(--yellow) !important
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 100px; /* space between bullets*/
  background: var(--primary);
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div.timeline-advisory {
  position: relative;
  bottom: 0;
  width: 450px;
  padding: 15px;
  background: var(--duskyPink);
}


.timeline ul li div.timeline-event {
  position: relative;
  bottom: 0;
  width: 450px;
  padding: 15px;
  background: transparent;
  box-shadow:0px 0px 0px 5px var(--duskyPink) inset;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li: div.next-advisory::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--yellow) transparent transparent;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

/*next advisory is yellow*/
.timeline ul li.bullet-next-advisory div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--yellow) transparent transparent;
}

/*triangle*/
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--duskyPink) transparent transparent;
}

/*triangle*/
.timeline ul li:nth-child(odd) div.next-advisory::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--yellow) transparent transparent;
}


.timeline ul li:nth-child(even) div {
  left: -489px;
}

/*triangle*/
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--duskyPink);
}

/*triangle*/
.timeline ul li:nth-child(even) div.next-advisory::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--yellow);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.advisory-icon{
    padding-right: 5px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--duskyPink);
}
/*next advisory*/
.timeline ul li.bullet-next-advisory.in-view::after {
  background: var(--yellow);
}


.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.meeting-link {
    text-decoration:underline;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div{
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--duskyPink) transparent transparent;
  }
}

