/*!

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

*/


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  overflow-x: hidden;
  padding-bottom: 50px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  padding: 8px 0;
}

/*line dashed*/
.timeline ul li.bullet-next-advisory {
  padding-top: 10px;
  background: repeating-linear-gradient(
  0deg,
  var(--white),
  var(--primary) 20px,
  var(--primary) 20px
);
}

/*line dashed*/
.timeline ul li:nth-child(2)  {
  background: repeating-linear-gradient(
      0deg,
      var(--white),
      var(--primary) 20px,
      var(--primary) 20px
    );
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 100px; /* space between bullets*/
  background: var(--primary);
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

/* next advisory box */
.next-advisory {
    background: var(--duskyPink) !important
}

/* today box */
.today {
    background: var(--primary) !important;
}

/* advisory box */
.timeline ul li div.timeline-advisory {
  position: relative;
  bottom: 0;
  padding: 15px;
  background: var(--secondary);
  color: white;
}

/* event box */
.timeline ul li div.timeline-event {
  position: relative;
  bottom: 0;
  padding: 15px;
  background-color: var(--third);
  color: white;

}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div {
  left: -33vw;
}


/*triangle advisory*/
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--secondary) transparent transparent;
}

/*triangle advisory*/
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--secondary);
}


/*triangle next*/
.timeline ul li:nth-child(odd) div.next-advisory::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--duskyPink) transparent transparent;
}


/*triangle today*/
.timeline ul li:nth-child(even) div.today::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--primary);
}


/*triangle event*/
.timeline ul li:nth-child(even) div.timeline-event::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--third);
}

/*triangle event*/
.timeline ul li:nth-child(odd) div.timeline-event::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--third) transparent transparent;
}

.timeline-title {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: white !important;
}

.timeline-text {
  color: white !important;
  font-size: 1rem;
}

.advisory-icon{
    padding-right: 5px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--secondary);
}

/* bullet next advisory*/
.timeline ul li.bullet-next-advisory.in-view::after {
  background: var(--duskyPink);
}

/* bullet today*/
.timeline ul li.bullet-today.in-view::after {
  background: var(--primary);
}

/* bullet event*/
.timeline ul li.bullet-timeline-event.in-view::after {
  background: var(--third);
}


.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  width: 30vw;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.meeting-link {
    text-decoration:underline;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* smartphone */
@media screen and (max-width:600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px) !important;
  }

  /* for smartphone all on one side*/
  .timeline ul li:nth-child(even) div{
    left: 45px;
  }

  /* triangle always to left*/
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary) transparent transparent;
  }

  /*triangle event*/
   .timeline ul li:nth-child(even) div.timeline-event::before {
     left: -15px;
     border-width: 8px 16px 8px 0;
     border-color: transparent var(--third) transparent transparent;
    }

    /*triangle today*/
   .timeline ul li:nth-child(even) div.today::before {
     left: -15px;
     border-width: 8px 16px 8px 0;
     border-color: transparent var(--primary) transparent transparent;
    }

  .timeline-text {
    color: white !important;
    font-size: 0.8rem;
  }

}

/* laptop */
@media screen and (max-width:1300px) and (min-width:601px) {
  .timeline-text {
    color: white !important;
    font-size: 0.9rem;
  }

}


}

