<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->

<!DOCTYPE html>
<html lang="en">

<!-- Static assets -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    FinCon - Register
  </title>

    <link rel="stylesheet" href="{% static 'assets/css/black-dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/login-register.css' %}" />
</head>

{% block content %}
<div class="login-wrap-register">
    <div class="login-html">
        <h1 class="title">Willkommen bei FinCon</h1>
        <h4 class="title">deinem digitalen Assistenten bei Bankberatungen</h4>
        <input id="tab-1" type="radio" name="tab" class="sign-in">
        <label for="tab-1" class="tab"> <a href="{% url 'login' %}"> Anmelden</a> </label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" checked>
        <label for="tab-2" class="tab"> <a href="{% url 'register' %}"> Registrieren</a> </label>
        <div class="login-form">
            <form role="form" method="post" action="">
                {% csrf_token %}
                {% if success %}
                <div class="successfulReg">Deine Registrierung war erfolgreich. Bitte melde dich nun an.</div>

                {% else %}

                <div class="group">
                    <label class="label">Benutzername</label>
                    <div class="input"> {{ form.username }}</div>
                </div>
                <span class="text-danger">{{ form.username.errors }}</span>

                <div class="group">
                    <label class="label">Vorname</label>
                    <div class="input"> {{ form.first_name }}</div>
                </div>
                <div class="group">
                    <label class="label">Nachname</label>
                    <div class="input"> {{ form.last_name }}</div>
                </div>

                <div class="group">
                    <label class="label">Passwort</label>
                    <div class="input"> {{ form.password1 }}</div>
                </div>
                <span class="text-danger">{{ form.password1.errors }}</span>

                <div class="group">
                    <label class="label">Passwort Bestätigung</label>
                    <div class="input"> {{ form.password2 }}</div>
                </div>
                <span class="text-danger">{{ form.password2.errors }}</span>

                <div class="group">
                    <label class="label">Email Adresse</label>
                    <div class="input"> {{ form.email }}</div>
                </div>
                <span class="text-danger">{{ form.email.errors }}</span>

                <div class="group">
                    <button type="submit" name="register" class="button">Registrieren</button>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>


{% endblock content %}

