{% extends "layouts/base.html" %}
{% block title %} Beratungen Details{% endblock %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/advisory-session.css' %}">
{% endblock stylesheets %}

{% block content %}
<section class="timeline">
  <ul>
    {% for advisory in advisories %}
    {% if advisory.type == "next-advisory" %}
     <li class="bullet-next-advisory" onclick="backToMainTimeline()">
      <div class="timeline-advisory next-advisory">
        <time> <a href="/advisorySession.html"> {{advisory.title}}</a> </time> {{advisory.date}}  {{advisory.place}} <br> Mit {{advisory.advisor_name}} <br>
        <a style="text-decoration:underline;" href={{advisory.overview}}>Zoom Meeting beitreten</a>
      </div>
    </li>
    {% elif advisory.type == "advisory" %}
    <li onclick="backToMainTimeline()">
      <div class="timeline-advisory">
        <time> {{advisory.title}} </time> {{advisory.place}} <br> Mit {{advisory.advisor_name}} <br> {{advisory.overview}}
      </div>
    </li>
    {% else %}
    <li onclick="backToMainTimeline()">
      <div class="timeline-event">
        <time> {{advisory.title}} </time> {{advisory.date}} <br>  {{advisory.place}} <br> Mit {{advisory.advisor_name}} <br> {{advisory.overview}}
      </div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

{% endblock content %}

{% block javascripts %}
  <script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
{% endblock javascripts %}