{% extends "layouts/base.html" %}
{% block title %} Beratungszusammenfassung{% endblock %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/advisory-session-detail.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sticky-note.css' %}">

{% endblock stylesheets %}

{% block content %}

<section class="timeline">
  {% for s in summary %}
  <ul class="design">
    <h2>{{s.title}}</h2>
    <li class="design">
      <div class="advisory-detail">
        {% if s.summary|length > 0 %}
        <p> {{s.summary|safe}}</p>
        {% else %}
        <p> Es konnte kein Gesprächsprotokoll gefunden werden.</p>
        {% endif %}
      </div>
    </li>
    <li class="design">
      <div class="advisory-detail">
        <h4> Verlinkte Notizen</h4>
        {% for note in notes %}
        <a href="{% url 'view-note' 2 %}" > {{note.title}} </a> <!-- ToDo take notes.id not 2 -->
        {% endfor %}
      </div>
    </li>
    <li class="design">
      <div class="advisory-detail link">
        <a href="/protocol.html" style="color:black">Protokoll</a>
      </div>
    </li>
    <li class="design">
      <div class="advisory-detail link">
        <a href="/advisorySession.html" style="color:black">Zeitstrahl</a>
      </div>
    </li>
  </ul>
  {% endfor %}

</section>
{% endblock content %}

{% block javascripts %}
  <script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
{% endblock javascripts %}