<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->


{% extends "layouts/base.html" %}
{% block title %} Änderungen {% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/advisory-summary.css' %}">

{% endblock stylesheets %}

{% block content %}
{% include 'includes/context-menu-popup.html' %}

<!--  ToDo: implement correctly once change handling is defined -->
<section class="timeline">
    <label class="toggle" title="Markierung anzeigen / ausblenden">
        <input id="toggleswitch" type="checkbox">
        <span class="roundbutton"></span>
    </label>
    {% for adv in advisory %}
    <h2 class="title-advisory-detail">Änderungen {{adv.title}}</h2>
    <h6>Dies ist eine Platzhalter-Seite. Der Inhalt ist hardcoded.</h6>
    <ul class="design">
        <li class="design">
            <div class="advisory-detail">
                Zuletzt geändert von {{adv.modified_by}} am
                {{adv.evt_modified|date:"d.m.Y H:i"}}
            </div>

        </li>
        <li class="design">
            <div class="advisory-detail" onmouseup="displayContextMenu()">
                <p class="advisory-summary-text"><strong>Eckdaten</strong><br/>
                    Kundenberaterin Maja Siebert<br/>
                    in der Filiale Altdorf<br/>
                    <br/>
                    <strong>Aktuelle Situation</strong><br/>
                    - Regelm&auml;ssiges Einkommen <s style="color:red"> CHF 102&rsquo;000</s> <span
                            style="color:green">CHF 112'000</span> <br/>
                    - Keine grossen, vorhersehbare Ausgaben in den n&auml;chsten Jahren<br/>
                    - Langer Anlagehorizont<br/>
                    - Bereits kleine Erfahrungen mit Finanzprodukten<br/>
                    - Interesse an einzelnen Aktien, Fokus Nachhaltigkeit<br/>
                    <br/>
                    <br/>
                    <strong>Anlagekriterien</strong><br/>
                    - Anlagehorizont: 8- 12 Jahre<br/>
                    - Risikobereitschaft: Hoch<br/>
                    - Verlusttragbarkeit: Gegeben<br/>
                    - Finanzielle Situation: Regelm&auml;ssiges Einkommen <s style="color:red"> CHF 102&rsquo;000</s>
                    <span style="color:green"> CHF 112'000 </span>, Liquide Mittel CHF 150&rsquo;000.
                    Keine Hypothek oder Schulden<br/>
                    - Erfahrung &amp; Kenntnisse: Bereits kleine Erfahrungen mit Finanzprodukten, investiert in Strategy
                    Equity Fond. <br> <span
                            style="color:green">Gute Kenntnisse &amp; Interesse an einzelnen Aktien </span><br/>
                    <br/>
                    <strong>Anlagestrategie</strong><br/>
                    Basierend auf den zuvor definierten Anlagekriterien trifft die Anlagestrategie Wachstum am besten
                    auf Sie zu.<br/>
                    <br/>
                    <br/>
                    <strong>M&ouml;glichkeiten</strong><br/>
                    Fonds<br/>
                    Die BANK hat mehrere Fonds, welche sich im Anteil an Aktien unterscheiden. Fonds Strategy Fixed
                    Income, Growth and Performance kommen in Frage. Aufgrund Anlagestrategie pr&auml;feriert Kunde
                    Growth.<br/>
                    <br/>
                    ETF<br/>
                    Exchange Traded Funds. Passive gemanagte Indexfonds: haben tiefere Geb&uuml;hren, decken einen gr&ouml;sseren
                    Bereich ab als einzelne Aktien, &auml;hnlich wie aktiv gemanagte Fonds von der Bank. <span
                            style="color:green"> Achtung: Keine aktiven
                    Anpassungen an B&ouml;rsenentwicklung. </span><br/>
                    <br/>
                    <br/>
                    <strong>Entscheidungen</strong><br/>
                    Investition in Fonds LUX Strategy Growth<br/>
                    100 St&uuml;ck &agrave; CHF 120<br/>
                    Investition von CHF 12&rsquo;000<br/>
                    Ausgef&uuml;hrt von Beraterin am 18. Oktober 2019</p>
            </div>
        </li>
        <li class="design">
            <div class="advisory-detail">
                <a href="{% url 'advisory-summary' adv.id %}">
                    <h4 class="more"> Zurück Zur Zusammenfassung</h4>
                </a>
            </div>
        </li>
    </ul>
    {% endfor %}
</section>


{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
{% endblock javascripts %}