<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->


{% extends "layouts/base.html" %}
{% block title %} Beratungszusammenfassung{% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/advisory-summary.css' %}">
{% endblock stylesheets %}

{% block content %}

<section class="timeline">
        <button title="In Entwicklung - Markierungen Speichern" type="submit" name="safe" class="save-annotations-btn">
            <i class="fas fa-save"></i>
        </button>
    {% for adv in advisory %}
    <h2 class="title-advisory-detail">{{adv.title}}</h2>
    <ul class="design">
        {% if adv.summary|length > 0 %}
        <li class="design">
            <div class="advisory-detail" onmouseup="displayContextMenu()">
                <h4 class="title-advisory-summary"> Zusammenfassung </h4>
                <span id="advisory-summary-text"> {{adv.summary|safe}} </span>
            </div>
            <br>
            <div class="advisory-detail">
                <a href="{% url 'advisory-changes' adv.id %}" class="more"
                   title="Hier klicken, um die Änderungen zu sehen">
                    Zuletzt geändert von {{adv.modified_by}} am
                    {{adv.evt_modified|date:"d.m.Y H:i"}}</a>
            </div>
        </li>
        {% elif adv.type != "next-advisory" %}
        <li class="design">
            <div class="advisory-detail">
                <h4 class="title-advisory-summary"> Zusammenfassung </h4>
                <p>Es gibt keine Zusammenfassung zu diesem Kontakt.</p>
            </div>
        </li>
        {% endif %}
        <li class="design">
            <div class="advisory-detail">
                <h4 class="title-advisory-summary"> Notizen </h4>
                {% for note in notes %}
                <div class="clickable-notes" onclick="showDetails('{{note.id}}')">
                    <i class="tim-icons icon-notes"></i> <span class="more"> {{note.title}} </span>
                </div>
                <div class="details card" id="{{note.id}}">
                    <a href="{% url 'view-note' note.id %}"> {{ note.text|safe}}
                        <hr>
                        <p>Erstellt am: {{ note.evt_created|date:"d.m.Y"}} </p>
                        <p>Zu erledigen bis: {{ note.due_date|date:"d.m.Y"}} </p>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="advisory-detail">
                <i class="tim-icons icon-simple-add"></i>
                <a href="{% url 'create-note' %}?next={{ request.path }}">Neue Notiz erstellen</a>
            </div>
        </li>
        <li class="design">
            <div class="advisory-detail">
                <h4 class="title-advisory-summary"> Verlinkte Dokumente </h4>
                <!-- ToDo: once documents are available -->
                <div class="clickable-doc" title="In Entwicklung, nicht abrufbar">
                    <i class="tim-icons icon-attach-87"></i>Factsheet.pdf
                </div>
            </div>
        </li>
        {% if adv.type == "advisory" %}
        <li class="design">
            <div class="advisory-detail">
                <a href="{% url 'protocol' adv.id %}">
                    <h4 class="more"> Zum Protokoll </h4>
                </a>
            </div>
        </li>
        {% endif %}
    </ul>
    {% endfor %}
</section>

<div id="context-menu">
    <div class="item" onclick="togglePopup()">
        <i class="fa fa-clipboard"></i> Notiz erstellen
    </div>
    <div class="item" onclick="highlightText()">
        <i class="fa fa-pencil-alt"></i> Text markieren
    </div>
</div>

<div class="popup" id="popup-1">
    <div class="content card">
        <div title='Abbrechen' class="close-btn" onclick="togglePopup()">&times;</div>
        <h3 id="popup-1-header">Neue Notiz</h3>
        <div class="form-group">
            <form action="{% url 'create-note' %}?next={{ request.path }}" method="POST" role="form">
                {% csrf_token %}
                <span>Titel: {{ form.title }}</span><br><br>
                <span>Notiz zum Abschnitt:</span>
                <span id="selected-text-preview"></span>
                <input style="visibility:hidden" type="text" id="selected-text" name="selected-text" value=""/>
                <span style="display:none">{{ form.advisory_session }} </span> <br>
                <span>{{ form.text }} {{ form.media }}</span>
                <button title="Speichern" type="submit" name="safe" class="save-btn"><i class="fas fa-check"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
{% endblock javascripts %}