<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->


{% extends 'layouts/base.html' %}

{% block title %} Dokumente {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
            <h3 class="title d-inline" title="Hard Coded">Dokumente</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
             <tr>
                <th>
                  Status
                </th>
                <th>
                  Titel
                </th>
                 <th>
                  Verlinkte Beratung
                </th>
                <th> <!-- <th class="text-center"> -->
                  Erhalten am
                </th>
                 <th>
                  <!-- no title -->
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Neu
                </td>
                <td>
                  Risikoaufklärung Aktienmarkt
                </td>
                  <td>
                  <!-- no advisory session -->
                </td>
                <td>
                  04.06.2021
                </td>
                  <td>
                  <i class="tim-icons icon-cloud-download-93" title="Download"></i>
                </td>
              </tr>
            <tr>
                <td>
                  Gelesen
                </td>
                <td>
                  Informationsblatt: Risiken bei Investition in Aktien
                </td>
                <td>
                  Beratung April 2021
                </td>
                <td>
                  18.05.2021
                </td>
                <td>
                  <i class="tim-icons icon-cloud-download-93" title="Download"></i>
                </td>
              </tr>
              <tr>
                <td>
                  Gelesen
                </td>
                <td>
                  Informationsblatt: Anlageprofil bestimmen
                </td>
                  <td>
                  Beratung August 2020
                </td>
                <td>
                  17.09.2020
                </td>
                  <td>
                  <i class="tim-icons icon-cloud-download-93" title="Download"></i>
                </td>
              </tr>
            </tbody>
          </table>
            <br>
            <h6>Dies ist eine Platzhalter-Seite, es sind keine Funktionalitäten zu testen (Hard Coded).</h6>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
