<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->


{% extends "layouts/base.html" %}
{% block title %} Notiz bearbeiten {% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/notes.css' %}">
{% endblock stylesheets %}

{% block content %}

{% if user.is_authenticated %}
<div class="card">
    <div class="card-header ">
        <h3 class="title d-inline">Notiz bearbeiten</h3>
    </div>
    <div class="card-body ">
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>Titel: {{ form.title }} </div> <br>
                <div>Verlinkte Beratung: {{ form.advisory_session }}</div> <br>
                <div>Zu erledigen bis: {{ form.due_date }}</div><br>
                <div>Reminder: {{ form.reminder }} </div> <br>
                <div style="display:none">Person: {{ form.person }} </div>
                <div>{{ form.text }} {{ form.media }}</div>
                <br>
                <button type="submit" name="safe" class="btn btn-fill btn-primary">Speichern</button>
                <button type="submit" name="safe" class="btn btn-fill btn-primary"
                        onclick="location.href='mailto:{{advisor.email}}?subject=Geteilte Notiz: {{note.title}}&body=Bitte deine Notiz hierhin kopieren';"
                        title="Notiz-Inhalt kopieren & E-Mail an Berater senden">
                    Speichern & mit Berater teilen
                </button>
                <a href="{% url 'notes' %}" class="btn btn-fill btn-primary">Abbrechen</a>
            </form>
        </div>
    </div>
</div>
{% endif %}


{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
