<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->


{% extends "layouts/base.html" %}
{% block title %} Notiz bearbeiten {% endblock %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

{% if user.is_authenticated %}
<div class="card">
    <div class="card-header ">
        <h3 class="title d-inline">Notiz bearbeiten</h3>
    </div>
    <div class="card-body ">
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <span>Titel: {{ form.title }} <span style="visibility:hidden">empty</span>
                    Verlinkte Beratung: {{ form.advisory_session }}</span> <br> <br><br>
                <span>Zu erledigen bis: {{ form.due_date }} <span style="visibility:hidden">empty</span>
                    Reminder: {{ form.reminder }} </span> <br><br><br>
                <span>{{ form.text }} {{ form.media }}</span>
                <br>
                <button type="submit" name="safe" class="btn btn-fill btn-primary">Speichern</button>
                <a href="{% url 'notes' %}" class="btn btn-fill btn-primary">Abbrechen</a>
            </form>
        </div>
    </div>
</div>
{% endif %}


{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
