{% extends "layouts/base.html" %}
{% block title %} Beratungen Details{% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/timeline.css' %}">
{% endblock stylesheets %}

{% block content %}
<section class="timeline">
    <ul>
        {% for advisory in advisories %}
        {% if advisory.type == "next-advisory" %}
        <li class="bullet-next-advisory">
            <div class="timeline-advisory next-advisory">
                <a href="{% url 'advisory-summary' advisory.id %}">
                    <time> {{advisory.title}}</time>
                    <i class="tim-icons icon-square-pin advisory-icon"></i> {{advisory.date|date:"d.m.Y H:i" }} Uhr, {{advisory.place}} <br>
                    <i class="tim-icons icon-single-02 advisory-icon"></i>{{advisory.advisor_name}} <br>
                    <i class="tim-icons icon-bullet-list-67 advisory-icon"></i>{{advisory.agenda}} </a> <br>
                <a href={{advisory.overview}} class="meeting-link "> <i class="tim-icons icon-tv-2 advisory-icon"></i> Zoom Meeting beitreten</a>
            </div>
        </li>
        {% elif advisory.type == "advisory" %}
        <li>
            <div class="timeline-advisory">
                <a href="{% url 'advisory-summary' advisory.id %}">
                    <time> {{advisory.title}}</time>
                    <i class="tim-icons icon-square-pin advisory-icon"></i>{{advisory.place}}<br>
                    <i class="tim-icons icon-single-02 advisory-icon"></i>{{advisory.advisor_name}}<br>
                    <i class="tim-icons icon-compass-05 advisory-icon"></i>{{advisory.overview}}<br>
                    {% if advisory.investment_details|length > 0 %}
                    <i class="tim-icons icon-coins advisory-icon"></i>{{advisory.investment_details}}
                    {% endif %}
                    {% if advisory.hot_leads|length > 0 %}
                    <i class="tim-icons icon-zoom-split advisory-icon"></i>{{advisory.hot_leads}}
                    {% endif %}
                </a>
            </div>
        </li>
        {% else %}
        <li>
            <div class="timeline-event">
                <a href="{% url 'advisory-summary' advisory.id %}">
                    <time> {{advisory.title}}</time>
                    <i class="tim-icons icon-square-pin advisory-icon"></i>{{advisory.date|date:"d.m.Y H:i"}}<br>
                    <i class="tim-icons icon-single-02 advisory-icon"></i>Mit {{advisory.advisor_name}} <br>
                    <i class="tim-icons icon-bullet-list-67 advisory-icon"></i>{{advisory.overview}}<br>
                </a>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>


{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
{% endblock javascripts %}