{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/timeline.css' %}">
{% endblock stylesheets %}

{% block content %}

<section class="timeline">
    <ul>
        {% for advisory in advisories %}
        {% if advisory.type == "next-advisory" %}
        <li>
            <div class="timeline-text next-advisory">
                <a href="/advisorySession.html">
                    <time> {{advisory.title}}</time>
                    {{advisory.date}} {{advisory.place}} <br> Mit {{advisory.advisor_name}} </a> <br>
                <a style="text-decoration:underline;" href={{advisory.overview}}>Zoom Meeting beitreten</a>
            </div>
        </li>
        {% else %}
        <li>
            <div class="timeline-text">
                <a href="/advisorySession.html">
                    <time> {{advisory.title}}</time>
                    {{advisory.place}} <br> Mit {{advisory.advisor_name}} <br> {{advisory.overview}} </a>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>

{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
{% endblock javascripts %}