{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Anlegerprofil{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/investor-profile.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">
                <h3 class="title d-inline">Anlegerprofil</h3>
            </div>
            <div class="card-body">
                <span class="open-all tim-icons icon-minimal-down" onclick="openAll()" title="Alles Aufklappen"> </span>
                <span class="close-all tim-icons icon-minimal-up" onclick="closeAll()" title="Alles Zuklappen"> </span>
                <br>
                <div class="clickable" onclick="showDetails('investmentStrategy')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Anlagestrategie:</b> Wachstum
                    <hr class="dividing-hr">
                </div>
                <div class="details" id="investmentStrategy">
                    <div class="investment-explanations">
                        Die <span class="explanations" data-title="Definiert die Strategie beim Anlegen der Vermögenswerte.
                                                                 Richtet sich nach Kriterien wie Risikofreudigkeit, Verlustfähigkeit, Anlagehorizont und Erfahrungen.
                                                                 Wir bieten 5 verschiedene Strategien an, siehe Tabelle.">
                        Anlagestrategie</span> wird vom Kunden nach diversen Kriterien gewählt und von der Bank
                        umgesetzt.
                        Dabei bestimmt sie die Gewichtung einzelnen Anlagekategorien innerhalb einer Bandbreite,
                        um die bestmöglche Performance unter vertretbarem Risiko zu erreichen.
                    </div>
                    <div class="investment-explanations">
                        Die Bank bietet fünf verschiedene Anlagestrategien an. Siehe diese <span class="more"
                                                                                                 onclick="showDetails('anlagestrategie_tabelle')">
                        Tabelle </span>.
                        <img id="anlagestrategie_tabelle" src="{% static 'assets/img/anlagestrategie_tabelle.png' %}"
                             style="width:800px; display: none">
                    </div>
                    <div class="investment-explanations">
                        Du hast aktuell die Anlagestrategie Wachstum gewählt. Dies bedeutet, dass du potentiell eher
                        hoches Risiko eingehst, aber auch eine eher hohen Rendite
                        erwarten darfst. Siehe diese <span class="more"
                                                           onclick="showDetails('anlagestrategie_aktuell')"> Grafik </span>.
                        <img id="anlagestrategie_aktuell" src="{% static 'assets/img/anime3.png' %}"
                             alt="Anlagestrategie" style="display: none">
                    </div>
                </div>
                <br>
                <div class="clickable" onclick="showDetails('investmentGoal')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Anlageziel:</b> Vermögensvermehrung
                    <hr class="dividing-hr">
                </div>
                <div class="details" id="investmentGoal">
                    <div class="investment-explanations">
                        Mit der Strategie Wachstum verfolgst du das Ziel eines langfristiges Kapitalwachstums.
                        <br><br>
                        Hypothetische Kursentwicklung einer Investition von CHF 5'000 in unterschiedlichen
                        Markt-Szenarien:
                        <br><br>
                        <canvas id="strategy-comparison"></canvas>
                        <br>
                        Disclaimer: Dies sind rein hypothetische Zahlen und Entwicklungen basierend auf historischen
                        Daten.
                        Sie dienen lediglich der Veranschaulichung der unterschiedlichen Volatilität der
                        Anlagestrategien.
                    </div>
                </div>
                <br>
                <div class="clickable" onclick="showDetails('riskLevel')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Risikostufe:</b> 4 von 5
                    <hr class="dividing-hr">
                </div>
                <div class="details" id="riskLevel">
                    <div class="investment-explanations">
                        Aufgrund der gewählten Anlagestrategie Wachstum gehst du schätzungsweise ein <span
                            class="more"
                            onclick="showDetails('risiko_aktuell')"> Risiko von Stufe 4</span> ein.
                        Dies bedeutet, dass du bereit bist, erhöhte Vermögensschwankungen und tendenziell hohes Risiko
                        einzugehen.
                        <img id="risiko_aktuell" src="{% static 'assets/img/risiko.png' %}" alt="Risikostufe"
                             style="width:500px; display: none">
                    </div>
                </div>
                <br>
                <div class="clickable" class="user-details" onclick="showDetails('investmentHorizon')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Anlagehorizont:</b> 8 bis 12 Jahre
                    <hr class="dividing-hr">
                </div>
                <div class="details" id="investmentHorizon">
                    <div class="investment-explanations">
                        Der <span class="more" onclick="showDetails('anlagehorizont_aktuell')"> Anlagehorizont </span>
                        bestimmt, wie lange du dein Vermögen investiert lassen kannst.
                        Wir empfehlen einen längeren Anlagehorizont je risikohafter eine Investition ist, damit
                        allfällige
                        Kursschwankungen "ausgesessen" werden können und keinen Verkaufsdruck entsteht.
                        <br>
                        <img id="anlagehorizont_aktuell" src="{% static 'assets/img/horizont.png' %}"
                             alt="Anlagehorizont" style="width:500px; display: none">
                    </div>
                </div>
                <br>
                <div class="clickable" class="user-details" onclick="showDetails('serviceModel')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Empfohlenes Servicemodell:</b> Delegation - Fondsportfolio
                    <hr class="dividing-hr">
                </div>
                <div class="details" id="serviceModel">
                    <div class="investment-explanations">
                        Mit dem <span class="more"
                                      onclick="showDetails('service_model_overview')"> Servicemodell </span>
                        wird festgelegt, wie das Portfolio von der Bank bewirtschaftet werden soll. Aufgrund
                        <span class="explanations"
                              data-title="Du hast Zeit & Interesse, dich mit Finanzfragen zu befassen und mit unserer
                              Unterstützung zu entscheiden, wie und wo du dein Geld anlegen willst."> deiner Anlagebedürfnisse </span>
                        passt das Servicemodell "Delegation - Fondsportfolio" am besten zu dir. Durch dieses delegierst
                        du die Überwachung und Gewichtung deines Geldes innerhalb des von dir <span class="explanations"
                                                                                                    data-title="Fonds Wachstum">gewählten Fonds.</span>
                        Somit hast du nach wie vor Kontrolle, in welchen Fonds du investierst, musst dich aber nicht mit
                        den
                        Details beschäftigen.
                        Zu zahlst lediglich auf dein Fondskonto ein und wir legen dieses Geld dann an.
                        <br>
                        <br>
                        Alternativ bieten wir die Servicemodelle <span class="explanations"
                                                                       data-title="Du delegierst uns vorwiegend alle Anlageentscheidungen und wir werden dein Geld
                        optimal anlegen.">Delegation - Vermögensverwaltung </span> und <span class="explanations"
                                                                                            data-title="Eine reine
                                                                                            Beratung ohne Ausführung einer Finnanztransaktion. Wir stehen dir lediglich beratend
                                                                                            zur Seite, während du selbständig die Anlagen betätigst.">
                        Beratung - Anlageberatung </span> an.
                        <img id="service_model_overview" src="{% static 'assets/img/service_model_1.png' %}"
                             alt="Anlagehorizont" style="display: none">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block javascripts %}
<script type="text/javascript" src="{% static 'assets/js/investor-profile.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pie-chart.js' %}"></script>

{% endblock javascripts %}
