{% extends 'layouts/base.html' %}

{% block title %} Notizen {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="col-md-12">
    <div class="card card-tasks">
        <div class="card-header ">
            <h3 class="title d-inline">Deine persönlichen Notizen</h3>
        </div>
        <div class="card-body ">
            <div class="table-full-width table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <p class="title">Fragen zur kommenden Beratung</p>
                            <p class="text-muted">Welche nachhaltigen Produkte; Kosten aktuelles Portfolio</p>
                        </td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="" class="btn btn-link"
                                    data-original-title="Edit Task">
                                <i class="tim-icons icon-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                    <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <p class="title">Nachhalige Fonds / Green Bonds</p>
                            <p class="text-muted">Gibt unt. Produkte, generell aber eher teurer im Vgl. zu anderen WIESO?</p>
                        </td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="" class="btn btn-link"
                                    data-original-title="Edit Task">
                                <i class="tim-icons icon-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <p class="title">Besprechung Investition mit Michael</p>
                            <p class="text-muted">Ok so? Dokumentation zeigen, Graphik nicht vergessen</p>
                        </td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="" class="btn btn-link"
                                    data-original-title="Edit Task">
                                <i class="tim-icons icon-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <p class="title">Notizen Beratung 1016</p>
                            <p class="text-muted">zu hause mal anschauen ETFs = passiv gemanagte Fonds, daher günstiger bilden Index ab</p>
                        </td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="" class="btn btn-link"
                                    data-original-title="Edit Task">
                                <i class="tim-icons icon-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <p class="title">Notizen Beratung 2015</p>
                            <p class="text-muted"> Je höher Risiko tendenziell grösserer erwarteter Gewinn aber auch hohe Volatilität
                                --> langer Horizont wichtig, habe ich = OK. Profil Growth ist passend. 3a nicht vergessen! </p>
                        </td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="" class="btn btn-link"
                                    data-original-title="Edit Task">
                                <i class="tim-icons icon-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
