{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Notizen {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/notes.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header ">
            <h3 class="title d-inline">Deine persönlichen Notizen</h3>
            <a href="{% url 'create-note' %}?a={{ request.path }}" class="new-note fa fa-plus" title="Neue Notiz">
            </a>
        </div>
        <div class="card-body ">
            <div class="table-full-width table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <tr>
                        <th title="Aktiviere den Reminder, um einen Tag vor Ablaufdatum eine Erinnerungsemail zu bekommen">
                            Reminder
                        </th>
                        <th>
                            Zu erledigen bis
                        </th>
                        <th>
                            Erstellt am
                        </th>
                    </tr>
                    </thead>
                    {% for note in notes %}
                    <tbody>
                    <tr>
                        <td class="td-reminder">
                            {% if note.reminder %}
                            <div class="text-muted">Aktiv</div>
                            {% else %}
                            <div class="text-muted">Inaktiv</div>
                            {% endif %}
                        </td>
                        <td class="td-due-date">
                            <div class="text-muted">{{note.due_date|date:"d.m.Y" }}</div>
                        </td>
                         <td class="td-created">
                            <div class="text-muted">{{note.evt_created|date:"d.m.Y" }}</div>
                        </td>
                        <td> <a href="{% url 'view-note' note.id %}">
                            <div class="title">{{note.title}}</div></a>
                            <div class="text-muted"> {{note.text | safe}}</div>
                        </td>
                        <td class="td-actions text-right td-pencil">
                        <a href="{% url 'edit-note' note.id %}"> <i class="tim-icons icon-pencil"></i></a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
