{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Kundenprofil {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/page-user-investor.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="user-title">Kundenprofil</h2>
                <div class="user-details"><b>User-ID</b> <br> {{ request.user.id }}</div><br>
                <div class="user-details"><b>Username (Kundennummer)</b> <br> {{ request.user.username }}</div><br>
                <div class="user-details"><b>Name</b> <br>{{ request.user.first_name }} {{ request.user.last_name }}</div><br>
                <div class="user-details"><b>E-Mail</b><br> {{ request.user.email }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <p class="card-text">
                <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <a href="javascript:void(0)">
                        <img class="avatar" src="/static/assets/img/anime6.png" alt="...">
                        <h5 class="title">Ihre Bankbetreuerin</h5>
                    </a>
                    <p class="description"> Maja Siebert </p>
                </div>
                <div class="card-description">
                    <i class="tim-icons icon-email-85" style="padding-right: 5px;"></i> maja.siebert@bank.ch <br>
                    <i class="tim-icons icon-headphones" style="padding-right: 5px;"></i> 044 123 44 67
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
