<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->


{% extends "layouts/base.html" %}
{% block title %} Protokoll v2 {% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/advisory-summary.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/protocol.css' %}">

{% endblock stylesheets %}

{% block content %}

<section class="timeline" id="timeline-container">
    <span class="open-all tim-icons icon-minimal-down" onclick="openAll()" title="Alles Aufklappen"> </span>
    <span class="close-all tim-icons icon-minimal-up" onclick="closeAll()" title="Alles Zuklappen"> </span>
    {% for adv in advisory %}
    <ul class="design">
        <h2>{{adv.title}}</h2>
        <h6 title="Hinweis für Tester: Es gibt 2 Arten von Protokollen. In Version 1 sieht man den
        ganzen Text von anfang an, in Version 2 ist er auf- & zuklappbar">Version 2: Details on Demand</h6>
        <li class="design">
            <div class="advisory-detail" onmouseup="displayContextMenu()">
                <strong>Teilnehmer </strong><br>
                Kundin: {{request.user.first_name}} {{request.user.last_name}} <br>
                Beraterin: Maja Siebert <br>  <br>
                <strong>Zeit & Ort </strong><br>
                {{adv.date|date:"d.m.Y H:i" }} Uhr, {{adv.place}} <br>
            </div>
        </li>
        <li class="design"><span class="fa-li">'5</span>
            <div class="clickable" onclick="showDetails('fivemin')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Small Talk</b>
            </div>
             <div class="details" id="fivemin">
                    <ul>
                        <li>bald stehen Ferien an, geht Wandern</li>
                        <li>mit Familie, schon lange nicht mehr 2 Wochen</li>
                        <li>bis dahin noch viel zu tun</li>
                        <li>ja, hat sich schon Gedanken gemacht was heute zu besprechen ist</li>
                    </ul>
             </div>
        </li>
        <li class="design"><span class="fa-li">'10</span>
            <div class="clickable" onclick="showDetails('10min')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Aktuelle Situation</b>
            </div>
             <div class="details" id="10min">
                    <ul>
                        <li>regelmässiges Einkommen 98'000 CHF</li>
                        <li>bereits einige Anlagen, selbständig mit Aktien am handeln</li>
                        <li>Kinder im Gymnasium</li>
                        <li><span class="explanations" data-title="Geplante Ausgaben schmälern den verfügbaren Investitionsbetrag oder verkürzen den Anlagehorizont."> keine </span> grossen Ausgaben geplant in Zukunft, hat bereits ein Eigenheim</li>
                    </ul>
             </div>
        </li>
        <li class="design"><span class="fa-li">'15</span>
            <div class="clickable" onclick="showDetails('15min')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Klärung Ziele, Anlagehorizont, Risiko</b>
            </div>
             <div class="details" id="15min">
                    <ul>
                        <li>Anlagehorizont<span class="explanations" data-title="Je länger der Horizont, desto mehr Risiko kann eingegangen werden, da Zeit besteht, Fluktuationen im Markt auszusitzen."> lange </span>, mehr als 10 Jahre</li>
                        <li>wahrscheinlich bis zur Pension</li>
                        <li><span class="explanations" data-title="Wir definieren insgesamt 5 Risikostufen. Dein aktuelles Profil ist in Stufe 3 (von 5) eingeteilt. Du gehst also aktuell ein mittleres Risiko ein und darfst somit ein langfristiges Kapitalwachstum erwarten.">Risikobereitschaft</span>  vorhanden, möchte Vermehrung und nimmt Risiko in Kauf</li>
                        <li>Kann Risiko tragen da hohe Liquidität</li>
                        <li>Ehemann hat auch noch Erspartes</li>
                    </ul>
             </div>
        </li>
        <li class="design"><span class="fa-li">'25</span>
            <div class="clickable" onclick="showDetails('25min')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Definition Anlegerprofil</b>
            </div>
             <div class="details" id="25min">
                    <ul>
                        <li>8-12 Jahre <span class="explanations" data-title="Dein aktuell spezifizierter Anlagehorizont ist: 5 bis 8 Jahre. Siehe ANLEGERPROFIL für mehr Informationen.">Anlagehorizont</span> </li>
                        <li>Risikostufe 4</li>
                        <li>Verlustfähigkeit 70%</li>
                        <li>gute Kenntnisse über Finanzprodukte, Erfahrung vorhanden</li>
                    </ul>
             </div>
        </li>
        <li class="design"><span class="fa-li">'30</span>
            <div class="clickable" onclick="showDetails('30min')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Vorschläge</b>
            </div>
             <div class="details" id="30min">
                    <ul>
                        <li>Anlegerprofil <span class="explanations" data-title="Riskantere Strategie als bisher, mit mehr Aktienanteilen, dafür darfst du eine erhöhte Vermögensvermehrung erwarten. Sofern du Zeit hat, allfällige Volatilitäten des Marktes auszuharren, ist dies eine passende Strategie für dich."> Ambitioniert </span></li>
                        <li>Erhebliches Wachstum zu erwarten, da Grossteil in Aktien investiert</li>
                        <li>Thesaurierend empfohlen</li>
                        <li>Alternativ in einzelne Fonds wie MSCI, <span class="explanations" data-title="Der SMI bildet die Aktienkursentwicklungen der 20 wichtigsten Schweizer Unternehmen ab.">SMI </span>etc. Aber mit mehr Aufwand verbunden</li>
                    </ul>
             </div>
        </li>
                <li class="design"><span class="fa-li">'50</span>
            <div class="clickable" onclick="showDetails('50min')">
                    <i class="tim-icons icon-minimal-down" style="padding-right: 5px;"></i>
                    <b>Entscheidungen, Weiteres Vorgehen</b>
            </div>
             <div class="details" id="50min">
                  <ul>
                        <li>Anlegerprofil ok</li>
                        <li>Diesen Fonds nehmen</li>
                        <li>10'000 CHF als Start, dann laufend 1'000 pro Monat</li>
                    </ul>
             </div>
        </li>
    </ul>
    {% endfor %}
</section>

{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/protocol-v2.js' %}"></script>
{% endblock javascripts %}