<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->


{% extends "layouts/base.html" %}
{% block title %} Protokoll {% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/advisory-summary.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/protocol.css' %}">

{% endblock stylesheets %}

{% block content %}
{% include 'includes/context-menu-popup.html' %}

<section class="timeline" id="timeline-container">
    <button title="Markierung anzeigen" type="submit" name="safe" class="save-annotations-btn">
        <i class="fas fa-highlighter"></i>
    </button>
    {% for adv in advisory %}
    <ul class="design">
        <h2>{{adv.title}}</h2>
        <h6 title="Hinweis für Tester: Es gibt 2 Arten von Protokollen. In Version 1 sieht man den
        ganzen Text von anfang an, in Version 2 ist er auf- & zuklappbar">Version 1: Full text </h6>
        <li class="design">
            <div class="advisory-detail" onmouseup="displayContextMenu()">
                <strong>Teilnehmer </strong><br>
                Kundin: {{request.user.first_name}} {{request.user.last_name}} <br>
                Beraterin: {{adv.advisor_name}} <br>  <br>
                <strong>Zeit & Ort </strong><br>
                 {{adv.date|date:"d.m.Y H:i" }} Uhr, {{adv.place}} <br>
            </div>
        </li>
        <li class="design">
            <div class="advisory-detail" onmouseup="displayContextMenu()">
                {% if adv.protocol|length > 0 %}
                <span class="advisory-summary-text" style="line-height:180%"> {{adv.protocol|safe}}</span>
                {% else %}
                <p> Es konnte kein Gesprächsprotokoll gefunden werden.</p>
                {% endif %}
            </div>
        </li>
        <li class="design">
            <div class="advisory-detail">
                <a href="{% url 'advisory-summary' adv.id %}">
                    <h4 class="more">Zurück zur Zusammenfassung </h4>
                </a>
            </div>
        </li>
    </ul>
    {% endfor %}
</section>

{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
{% endblock javascripts %}