<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->


{% extends "layouts/base.html" %}
{% block title %} Protokoll {% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/advisory-summary.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/protocol.css' %}">

{% endblock stylesheets %}

{% block content %}

<section class="timeline" id="timeline-container">
    <button title="In Entwicklung - Markierungen Speichern" type="submit" name="safe" class="save-annotations-btn">
            <i class="fas fa-check"></i>
    </button>
    {% for adv in advisory %}
    <ul class="design">
        <h2>{{adv.title}}</h2>
        <li class="design">
            <div class="advisory-detail" onmouseup="displayContextMenu()">
                <strong>Teilnehmer </strong><br>
                Kundin: {{request.user.first_name}} {{request.user.last_name}} <br>
                Beraterin: {{adv.advisor_name}} <br>  <br>
                <strong>Zeit & Ort </strong><br>
                 {{adv.date|date:"d.m.Y H:i" }} Uhr, {{adv.place}} <br>
            </div>
        </li>
        <li class="design">
            <div class="advisory-detail" onmouseup="displayContextMenu()">
                {% if adv.protocol|length > 0 %}
                <span id="advisory-summary-text"> {{adv.protocol|safe}}</span>
                {% else %}
                <p> Es konnte kein Gesprächsprotokoll gefunden werden.</p>
                {% endif %}
            </div>
        </li>
        <li class="design">
            <div class="advisory-detail">
                <a href="{% url 'advisory-summary' adv.id %}">
                    <h4 class="more">Zurück zur Zusammenfassung </h4>
                </a>
            </div>
        </li>
    </ul>
    {% endfor %}
</section>

<div id="context-menu">
    <div class="item" onclick="togglePopup(event)">
        <i class="fa fa-clipboard"></i> Notiz erstellen
    </div>
    <div class="item" onclick="highlightText()">
        <i class="fa fa-pencil-alt"></i> Text markieren
    </div>
</div>

<div class="popup" id="popup-1">
    <div class="content card">
        <div title='Abbrechen' class="close-btn" onclick="togglePopup(event)">&times;</div>
        <h3 id="popup-1-header">Neue Notiz</h3>
        <div class="form-group">
            <form action="{% url 'create-note' %}?next={{ request.path }}" method="POST" role="form">
                {% csrf_token %}
                <span>Titel: {{ form.title }}</span><br><br>
                <span>Notiz zum Abschnitt:</span>
                <span id="selected-text-preview"></span>
                <input style="visibility:hidden" type="text" id="selected-text" name="selected-text" value=""/>
                <span style="display:none">{{ form.advisory_session }} </span> <br>
                <span>{{ form.text }} {{ form.media }}</span>
                <button title="Speichern" type="submit" name="safe" class="save-btn"><i class="fas fa-check"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'assets/js/timeline.js' %}"></script>
{% endblock javascripts %}