<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->


{% extends "layouts/base.html" %}
{% block title %} Suche {% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/search.css' %}">
{% endblock stylesheets %}

{% block content %}

{% if user.is_authenticated %}
<div class="card">
    <div class="card-header">
        <h3 class="title d-inline">Suche</h3>
    </div>
    <div class="card-body">
        <p>Suche in deinen Beratungen, Protokollen & Notizen</p> <br>

        <form action="{% url 'search-results' %}" method="get">
            {{form.q}}
        </form>

    </div>
</div>


{% endif %}
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}