<!--

=========================================================
* FinCon v.1.0
=========================================================
* Coded by Jara Fuhrer
* Master Thesis at the University of Zurich, 2021

=========================================================

-->

{% extends "layouts/base.html" %}
{% block title %} Notiz lesen {% endblock %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/notes.css' %}">
{% endblock stylesheets %}

{% block content %}

{% if user.is_authenticated %}
<div class="card">
    {% for note in notes%}
    <div class="card-header ">
        <h3 class="title d-inline">{{note.title}}</h3>
    </div>
    <div class="card-body">
        <div class="form-group">

            <h4></h4>
            <div>{{note.text | safe}}</div>
            <br>
            <hr>
            <p>Erstellt am: {{note.evt_created|date:"d.m.Y H:i"}}</p>
            {% if note.evt_modified %}
            <p>Bearbeitet am: {{note.evt_modified|date:"d.m.Y H:i"}}</p>
            {% endif %}
            {% if note.due_date %}
            <p>Zu Erledigen bis: {{note.due_date|date:"d.m.Y"}}</p>
            {% endif %}
            {% if note.reminder %}
            <p>Reminder: Aktiv</p>
            {% else %}
            <p>Reminder: Inaktiv</p>
            {% endif %}
            <br>
            {% if 'next' in request.GET %}
            <a href="{{ request.GET.next }}" class="btn btn-fill btn-primary">Schliessen</a>
            <a href="{% url 'edit-note' note.id %}?next={{ request.GET.next }}" class="btn btn-fill btn-primary">Bearbeiten</a>
            {% else %}
            <a href="{% url 'notes' %}" class="btn btn-fill btn-primary">Schliessen</a>
            <a href="{% url 'edit-note' note.id %}" class="btn btn-fill btn-primary">Bearbeiten</a>
            {% endif %}
            {% if advisor.email %}
            <a title="Notiz-Inhalt kopieren & E-Mail an Berater senden"
               href="mailto:{{advisor.email}}?subject=Geteilte Notiz: {{note.title}} &body=Bitte deine Notiz hierhin kopieren"
               class="btn btn-fill btn-primary">
                Notiz mit Berater teilen</a>
            {% else %}
            <a title="Notiz-Inhalt kopieren & E-Mail senden"
               href="mailto:?subject=Geteilte Notiz: {{note.title}} &body=Bitte deine Notiz hierhin kopieren"
               class="btn btn-fill btn-primary">
                Notiz mit Berater teilen</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% endif %}


{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
