{% extends "layouts/base.html" %}
{% block title %} Notiz lesen{% endblock %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

{% if user.is_authenticated %}
<div class="form-group">
    {% for note in notes%}
    <h4>{{note.title}}</h4>
    <div>{{note.text | safe}}</div>
    <br>
    <p>Bearbeitet am: {{note.evt_modified|date:"d.m.Y H:i"}}</p>
    <p>Erstellt am: {{note.evt_created|date:"d.m.Y H:i"}}</p>
    <p>Zu Erledigen bis: {{note.due_date|date:"d.m.Y H:i"}}</p>
    <p>Reminder gesetzt: {{note.reminder}}</p>
    <br>
    <a href="{% url 'notes' %}" class="btn btn-fill btn-primary">Schliessen</a>
    <a href="{% url 'edit-note' note.id %}" class="btn btn-fill btn-primary">Bearbeiten</a>
    <a title="Notiz-Inhalt kopieren & E-Mail senden" href="mailto:jara.fuhrer@uzh.ch?subject=Geteilte Notiz: {{note.title}}&body=Bitte deine Notiz hierhin kopieren" class="btn btn-fill btn-primary">
        Notiz mit Berater teilen</a>

    {% endfor %}


</div>
{% endif %}


{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
